<mat-card class="h-full overflow-hidden">
    <ng-container *ngIf="imageUrl(); else noImage">
        <img [src]="imageUrl()" [alt]="title()" mat-card-image class="h-48 w-full object-cover" />
    </ng-container>
    <ng-template #noImage>
        <div class="h-48 w-full object-cover bg-gray-100 flex items-center justify-center">
            <mat-icon [class]="'!text-[140px] !w-full !h-fit text-center ' + iconClass()">{{ icon() }}</mat-icon>
        </div>
    </ng-template>
    <mat-card-content class="p-4 !bg-gray-50">
        <h2 class="text-lg font-semibold mt-2 line-clamp-2">{{ title() }}</h2>
        <p class="text-gray-600 mt-1 line-clamp-2">{{ description() }}</p>
    </mat-card-content>
</mat-card>
