<div data-testid="chat-component" class="flex flex-col h-full p-4">
    <div data-testid="chat-messages-area" class="flex-1 overflow-y-auto mb-4 p-4" id="chat-container">
        <mat-card
            *ngFor="let message of allMessages()"
            [attr.data-testid]="message.sender === 'ai' ? 'assistant-message' : 'user-message'"
            class="mb-1 w-fit max-w-[60%]"
            [ngClass]="{
                'text-right justify-self-end !bg-primary/10 !border-primary/90 !rounded-br-none': message.sender === 'user',
                '!rounded-bl-none': message.sender === 'ai',
            }"
            appearance="outlined"
        >
            <mat-card-content class="whitespace-pre-line">{{ message.text }}</mat-card-content>
        </mat-card>

        <mat-card
            data-testid="ai-typing-indicator"
            class="mb-1 w-fit max-w-[60%] !rounded-bl-none"
            appearance="outlined"
            *ngIf="isLoading()"
        >
            <mat-card-content>
                <mat-spinner diameter="20"></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
    <form (submit)="sendMessage($event)" class="flex items-center gap-2">
        <mat-form-field class="flex-1 [&_.mat-mdc-form-field-subscript-wrapper]:!hidden" appearance="outline">
            <mat-label>Type your message...</mat-label>
            <input data-testid="chat-input" matInput [(ngModel)]="userInput" name="input" />
        </mat-form-field>
        <button
            data-testid="chat-send-button"
            mat-stroked-button
            color="primary"
            class="!h-full !rounded-[5px]"
            type="submit"
        >
            <mat-icon>send</mat-icon>
            Send
        </button>
    </form>
</div>
