<div class="grid grid-cols-2 gap-8 max-w-[600px] mx-auto place-items-center">
    <a href="/planner" class="w-full h-full">
        <app-route-card
            icon="map"
            iconClass="!text-primary"
            title="Plan Your Journey"
            description="Create your personalized sightseeing route with our AI planner"
        >
        </app-route-card>
    </a>

    <a href="/explore" class="w-full h-full">
        <app-route-card
            icon="explore"
            iconClass="!text-primary"
            title="Explore"
            description="Discover amazing destinations created by others"
        >
        </app-route-card>
    </a>
</div>
