<div class="w-full h-[350px]">
    <div class="relative w-full h-full">
        <map-component [markersResponse]="markersResponse()" />
        <div class="absolute top-2 right-2 flex gap-2">
            <button mat-mini-fab color="primary" (click)="openFullscreenMap()">
                <mat-icon>fullscreen</mat-icon>
            </button>
            <button mat-fab extended color="primary" (click)="openShareModal()" class="!h-[40px]">
                <mat-icon>share</mat-icon>
                Share
            </button>
        </div>
    </div>
</div>
