@if (initialData(); as route) {
<mat-card class="!bg-white" data-testid="places-to-visit">
    <mat-card-header>
        <mat-card-title>Places to Visit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul role="list" class="list-disc pl-5">
            @for (place of route.places; track place.name) {
            <li role="listitem" class="!h-fit">
                <span>{{ place.name }}</span>
            </li>
            }
        </ul>
    </mat-card-content>
</mat-card>
}
